*.iml
.gradle
/local.properties
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/caches
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/name
.idea/.name
.idea/navEditor.xml
.idea/render.experimental.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.project
.settings
.classpath
